* {
    margin: 0;
    padding: 0;
}

.next-btn {
    padding: 2%;
    background-color: rgb(72, 99, 99);
    border-radius: 1000px;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'figtree', sans-serif;
    background-image: url('../images/cabinbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.nav-title{
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

.icon {
    height: 60px;
}

.desc-cont {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 9vw;
    height: inherit;
    width: 80%;
    border-radius: 20px;
    padding: 4%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.content-container {
    margin: 5vh 0 0 0;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100vw;
}

.main-container {
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
}   

.title {
    margin-top: 2%;
    font-size: 4em;
}

.question{
    margin-bottom: 10px;
    font-size: 18px;
}
.question p {
    font-size: 22px;
    font-weight: bold;
}


.subject-cont {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: top;
    background-color:white;
    border-radius: 0 20px 20px 0;
    padding: 6%;
}

.lesson-title {
    font-size: 50px;
    margin-left: 60px;
}



.next-btn-img {
    height: 20px;
}

.lesson-content {
    margin-top: 3%;

}

.lesson-container {
    margin-top: 3em;
}

.title-cont {
    height: 20%;
}

.buttons {
    margin-top: 20px;
    display: flex; /* Add display: flex; to enable flexbox */
    justify-content: flex-end;
}

.buttons button {
    display: flex;
    align-items: right;
    justify-content: center;
    position: relative;
    margin-top: 20px auto;
    margin-left: 10px;
    width: 200px;
    background: white;
    color: black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
  }
  
a:link {
    color:black;
    text-decoration:none}         /* Unvisited link  */
a:visited {
    color:black;
    text-decoration:none} /* Visited link    */