* {
    margin: 0;
    padding: 0;
}

.next-btn {
    padding: 2%;
    background-color: rgb(72, 99, 99);
    border-radius: 1000px;
}

body {
    height: 100vh;
    width: 100vw;
}

.icon {
    height: 60px;
}

.desc-cont {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 9vw;
    height: inherit;
    width: 80%;
    border-radius: 20px;
    padding: 4%;
    height: 100%;
}

.content-container {
    margin: 5vh 0 0 0;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100vw;
}

.main-container {
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
}   

.title {
    margin-top: 2%;
    font-size: 4em;
}

.subject-cont {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: top;
    background-color:blueviolet;
    border-radius: 0 20px 20px 0;
    padding: 6%;
}

.lessons {
    margin-top: 5%;
}

.lesson-desc {
    font-size: 2em;
}

.next-btn-img {
    height: 20px;
}

.lesson-content {
    margin-top: 3%;

}

.lesson-container {
    margin-top: 3em;
}

.title-cont {
    height: 20%;
}

.next-btn-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

iframe {
    margin-bottom: 3%;
}
.text-btn {
    margin-right: 2%;
}

.multiply-table {
    width: 80%;
    margin: auto;
}