* {
    margin: 0;
    padding: 0;
}

.btn a {
    text-decoration: none;
    color: #000000;
}

body {
    height: 100vh;
    width: 100vw;
}

.land-bg {
    background-image: url("../images/mainbg.png");
    background-size: cover;
    background-position: center;
}

.icon {
    height: 60px;
}

.text-input {
    padding: 1% 2%;
    border-radius: 1000px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.77);
    font-family: cursive;
}

.name-input {
    width: 100%;
    display: flex;
    justify-content: center;
}

.desc-cont {
    background-color: antiquewhite;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1vw;
    height: 45vh;
    border-radius: 20px;
    padding: 4%;
    margin-bottom: 2%;
}

.description {
    margin: 5vh 0 0 0;
}

.main-container {
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: row;
}

.title-cont {
    text-align: center;
    margin-bottom: 2%;
    font-size: 30px;
    font-weight: bold;
}

.title {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 4em;
    height: fit-content;
}

.title-image {
    height: 25vh;
}

#start-btn {
    margin-top: 2%;
    font-size: 20px;
    background-color: #FFFFFF;
    padding: 1% 2%;
    border-radius: 1000px;
    font-family: cursive;
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
}