* {
    margin: 0;
    padding: 0;
}

.btn a {
    text-decoration: none;
    color: #000000;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'figtree', sans-serif;
    background-image: url('../images/cabinbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.card-container {
    perspective: 1000px;
}

.card {
    width: 50vw;
    height: 30vh;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    color: black;
    backface-visibility: hidden; /* Ensure backface is hidden */
}

.card-back, .card-front {
    background-color: #aa1818 !important; /* Red color */
    transform: rotateY(180deg);
}

.text-light {
    color: black;
}
